// ---------------------------------------------------
// 1. Bootstrap en Dart Sass
// ---------------------------------------------------
// Assure-toi que Bootstrap est installé via npm
// npm install bootstrap
@use "../../node_modules/bootstrap/scss/bootstrap" as *;

// ---------------------------------------------------
// 2. Tes outils Sass (variables, mixins…)
// ---------------------------------------------------
@use 'variables' as *;
@use 'mixins' as *;

// ---------------------------------------------------
// 3. Les layouts
// ---------------------------------------------------
//@use 'layout/nav' as *;
//@use 'layout/footer' as *;

// ---------------------------------------------------
// 4. Variables CSS
// ---------------------------------------------------
$turquoise: #00E8C3;
$vertF: #00998E;
$vert: #7FB8A6;
$vertP: #BFE5D7;
$vertAqua: #F3FFFD;

@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root
{
  --turquoise: #{$turquoise};
  --vertF: #{$vertF};
  --vert: #{$vert};
  --vertP: #{$vertP};
  --vertAqua: #{$vertAqua};
}


// ---------------------------------------------------
// 5. Styles globaux
// ---------------------------------------------------
html
{
  font-family: "Roboto", sans-serif;
  background: #1a1a1a;
  background-image: repeating-linear-gradient(
    0deg,
    rgba(255,255,255,0.02),
    rgba(255,255,255,0.02) 2px,
    transparent 2px,
    transparent 6px
  );
}

.banner-section
{
    position: relative;
    height: 100vh;
    background-image: url('../img/banner.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    .overlay
    {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0,0,0,0.2);
    }

    .container
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;

        h1
        {
            color: $turquoise;
        }
    }


}

