
$turquoise: #00E8C3;
$vertF: #00998E;
$vert: #7FB8A6;
$vertP: #BFE5D7;
$vertAqua: #F3FFFD;

:root
{
    --turquoise: #{$turquoise};
    --vertF: #{$vertF};
    --vert: #{$vert};
    --vertP: #{$vertP};
    --vertAqua: #{$vertAqua};
}

html
{
    background-color: $vertP;
}
