@import '../variables';
@import '../mixins';

:root
{
  --turquoise: #{$turquoise};
  --vertF: #{$vertF};
  --vert: #{$vert};
  --vertP: #{$vertP};
  --vertAqua: #{$vertAqua};
}

.wrapper {
display: flex;
width: 100%;
}

#sidebar {
min-width: 80px !important;
max-width: 270px;
background: $vertP;
color: $vertAqua;
transition: all 0.3s;
position: fixed;
z-index: 3000 !important;
left: 0;
top: 0;
height: 100vh;

&.active {
min-width: 80px;
max-width: 80px;
text-align: center;

.logo {
  padding: 10px 0;
}

ul.components li a span { display: block; font-size: 24px; margin-right: 0; }

}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px 0;

  .sidebar-logo {
    max-width: 250px;
    height: auto;
    display: block;
  }
}

ul.components { padding: 0; }

ul li a {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
color: $vertF;
padding: 10px 30px;
border-bottom: 1px solid rgba(255,255,255,.1);
text-decoration: none;

span.fa {
    font-size: 2.5rem;
}

&:hover { color: $vertAqua; background: darken($vert, 5%); }

 }

}

#content { width: 100%; padding: 0; min-height: 100vh; transition: all 0.3s; }

/* Nav : btn */
.toggle-btn
{
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 2000 !important;
    border-radius: 8px;
    padding: 10px 12px;

    i {
        font-size: 1.4rem;
    }
}

