@import '../variables';
@import '../mixins';

$turquoise: #00E8C3;
$vertF: #00998E;
$vert: #7FB8A6;
$vertP: #BFE5D7;
$vertAqua: #F3FFFD;

:root
{
  --turquoise: #{$turquoise};
  --vertF: #{$vertF};
  --vert: #{$vert};
  --vertP: #{$vertP};
  --vertAqua: #{$vertAqua};
}

.wrapper {
display: flex;
width: 100%;
}

#sidebar {
min-width: 270px;
max-width: 270px;
background: $vertF;
color: $vertAqua;
transition: all 0.3s;

&.active {
min-width: 80px;
max-width: 80px;
text-align: center;

.logo {
  padding: 10px 0;
}

.footer { display: none; }

ul.components li a span { display: block; font-size: 24px; margin-right: 0; }

}

.logo {
display: block;
font-weight: 900;
padding: 10px 30px;
color: $vertAqua;
}

ul.components { padding: 0; }

ul li a {
display: block;
color: $vertAqua;
padding: 10px 30px;
border-bottom: 1px solid rgba(255,255,255,.1);

&:hover { color: $vertAqua; background: darken($vert, 5%); }

}
}

#content { width: 100%; padding: 0; min-height: 100vh; transition: all 0.3s; }

