@import '../variables';
@import '../mixins';

:root
{
  --turquoise: #{$turquoise};
  --vertF: #{$vertF};
  --vert: #{$vert};
  --vertP: #{$vertP};
  --vertAqua: #{$vertAqua};
}

.wrapper {
display: flex;
width: 100%;
}

#sidebar {
min-width: 270px;
max-width: 270px;
background: $vertP;
color: $vertAqua;
transition: all 0.3s;

&.active {
min-width: 80px;
max-width: 80px;
text-align: center;

.logo {
  padding: 10px 0;
}

.footer { display: none; }

ul.components li a span { display: block; font-size: 24px; margin-right: 0; }

}

.sidebar-logo
{
  width: 25rem;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

ul.components { padding: 0; }

ul li a {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
color: $vertF;
padding: 10px 30px;
border-bottom: 1px solid rgba(255,255,255,.1);
text-decoration: none;

span.fa {
    font-size: 2.5rem;
}

&:hover { color: $vertAqua; background: darken($vert, 5%); }

 }
}

#content { width: 100%; padding: 0; min-height: 100vh; transition: all 0.3s; }

